.carousel {
  .slick-prev,
  .slick-next {
    position: absolute;
    transform: scale(0.7, 1.7);
    opacity: 0.8;
    z-index: 1;
  }

  .slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
}
