.slick-slider {
  .slick-prev,
  .slick-next {
    position: absolute;
    transform: scale(2);
    opacity: 0.7;
    z-index: 1;
  }

  .slick-prev {
    left: 25px;
  }
  .slick-next {
    right: 25px;
  }
}
