.dates-banner {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  @include fluid-type(16px, 18px);
  padding: 6px 0;

  @media (min-width: 600px) {
    padding: 10px 0;
  }
}
