// @import "../base/variables";

.Featured {
  margin-bottom: 20px;
  color: $dark-grey;

  img {
    width: 100%;
  }

  .about {
    font: 18px/26px $hind-regular;
  }

  .Article-content {
    min-height: 133px;
    margin-bottom: 20px;
    padding: 18px 15px;
    color: $white;
    background: $dark-grey;

    @media (min-width: $bootstrap-lg) {
      padding: 20px 24px;
    }

    .type {
      font: 14px/18px $montserrat-semibold;
    }

    h3 {
      font: 24px/30px $hind-semibold;
    }
  }
}

@media (min-width: $bootstrap-md) {
  .Featured {
    h2 {
      font: 36px/36px $montserrat-bold;
    }
    p {
      font: 21px/34px $hind-regular;
    }
  }
}
