.PageHeader {
  color: $white;
  padding: 50px 20px;

  .PageTitle {
    font-family: $montserrat-bold;
    @include fluid-type(21px, 36px);
    color: $white;
    margin-left: 0;

    @media (min-width: 1024px) {
      margin-bottom: 10px;
    }
  }

  .PageDescripton {
    @include fluid-type(18px, 21px);
  }
}

.PageHeader--festival {
  color: $black;

  .PageTitle {
    color: $black;
  }
}
