.PageBreadcrumbs {
  color: $grey;
  font: 16px/24px Montserrat;
  font-weight: 400;
  margin-bottom: 30px;

  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .fa-angle-left {
    margin-right: 8px;
    vertical-align: text-bottom;
  }
}

.PageHeader--festival {
  .PageBreadcrumbs {
    a {
      color: $black;
    }
  }
}
