.PageMarquee {
  .title-link {
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    h1 {
      max-width: 940px;
      text-transform: uppercase;
      margin-left: 0;
      font-family: $montserrat-bold;
      @include fluid-type(26px, 36px);
    }
  }

  min-height: 450px;
  background: $black;
  position: relative;
  color: $white;
  text-align: center;

  .PageMarquee_img-container {
    display: inline-block;
    position: relative;
    max-width: 1280px;
  }

  .PageMarquee__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 -63px 63px -10px #000;

    @media (min-width: 600px) {
      box-shadow: inset 0 0 63px 63px #000;
    }
  }

  .PageMarquee__content {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;

    h1 {
      @media (max-width: 610px) {
        max-width: 350px;
        margin: 0 auto 5px;
      }
    }

    .hind-text {
      max-width: 1000px;
      // overflow: hidden;
      position: relative;
      /* use this value to count block height */
      line-height: 1.2em;
      /* max-height = line-height (1.2) * lines max number (3) */
      max-height: 2.4em;
      /* fix problem when last visible word doesn't adjoin right side  */
      text-align: justify;
      /* place for '...' */
      margin-right: -1em;
      padding-right: 1em;
    }

    @media (max-width: 600px) {
      .hind-text:before {
        /* points in the end */
        content: "...";
        /* absolute position */
        position: absolute;
        /* set position to right bottom corner of block */
        right: 10px;
        bottom: 0;
      }
    }
    /* hide ... if we have text, which is less than or equal to max lines */
    .hind-text:after {
      /* points in the end */
      content: "";
      /* absolute position */
      position: absolute;
      /* set position to right bottom corner of text */
      right: 0;
      /* set width and height */
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
    }
  }

  @media (min-width: $bootstrap-md) {
    .PageMarquee__content {
      text-align: left;

      .PageMarquee__content__action {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .hind-text {
          max-width: 900px;
        }
      }
    }
  }
}
