.Scrollable {
  $white: #fff;
  $black: #323232;

  padding-bottom: 20px;
  font: 16px/24px $montserrat-semibold;

  .Scrollable_container {
    position: relative;
    border: 1px solid $black;
    border-bottom: 5px solid $black;
    display: flex;
    justify-content: center;
  }

  .Scrollable_container .Scrollable_arrow {
    position: absolute;
    color: $black;
    right: 0;
    bottom: -25px;
    text-decoration: underline;
    cursor: text;
  }

  .Scrollable_nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
  }

  .Scrollable_nav::-webkit-scrollbar {
    display: none;
  }

  .Scrollable_nav_li {
    padding: 12px 10px 8px;
    flex-grow: 1;

    &:hover {
      background-color: $black;

      .Scrollable_nav_li_a {
        color: $white;
      }
    }
  }

  .Scrollable_nav_li.active {
    background-color: $black;

    .Scrollable_nav_li_a {
      color: $white;
    }
  }

  .Scrollable_nav_li_a {
    display: inline-block;
    text-transform: uppercase;

    // font: 14px/19px Helvetica;
    color: $black;
    text-decoration: none;
  }

  .Scrollable_nav_li_a:active,
  .Scrollable_nav_li_a:focus,
  .Scrollable_nav_li_a:hover {
    outline: none;
    // background-color: #fff;
  }
}
