.Section {
  margin-bottom: 20px;

  @media (min-width: 480px) {
    margin-bottom: 40px;
  }

  .SectionHeading {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .heading-2 {
      text-transform: uppercase;
    }

    @media (min-width: $bootstrap-sm) {
      padding-left: 15px;
    }

    // @media (min-width: $bootstrap-md) {
    //   margin-bottom: 20px;
    // }

    .SectionHeading_left {
      flex-grow: 3;
      max-width: 850px;

      a {
        color: $white;
        text-decoration: none;
      }
    }

    .SectionHeading_action {
      flex-grow: 1;
      @media (max-width: $bootstrap-md) {
        display: none;
      }
    }
  }
}
