.schedule {
  #schedule {
    opacity: 0.58
  }

  .ScheduleTime {
    @include fluid-type(16px, 30px);
    font-family: Hind;
    font-weight: 700;
    color: $black;
    display: flex;

    .may {
      flex-grow: 1;
    }
    .june {
      flex-grow: 2;
    }
  }

  .ScheduleTime--spaced {
    margin-bottom: 15px;
  }

  hr.devider {
    margin-top: 60px;
  }

  .ScheduleNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid $brown-grey;
    padding: 5px 0;

    a {
      cursor: pointer;
      text-decoration: none;
    }
  }
}
