.events-show,
.festival-archive {
  color: $black;

  .Header .brand {
    max-width: 250px;
  }

  .Filters {
    display: none;
  }

  .FilmHeader {
    background: $black;
    position: relative;
    color: $white;

    .container {
      @media (max-width: $bootstrap-md) {
        width: 100%;
      }
    }

    .FilmHeader_img-container {
      position: relative;
      padding: 0;
    }

    .FilmHeader__mask {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: inset 0 -63px 63px -10px #000;
      @media (min-width: 600px) {
        box-shadow: inset 0 0 63px 63px #000;
      }
    }

    .FilmHeader__content {
      position: absolute;
      top: 20px;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (min-width: $bootstrap-lg) {
        top: 60px;
        bottom: 70px;
      }
    }
    .heading-3 {
      @include fluid-type(20px, 30px);
    }
    .heading-4 {
      font-family: Montserrat;
      font-weight: 600;
    }
  }

  .film-container {
    @media (min-width: $bootstrap-lg) {
      top: -50px;
    }
  }

  @each $name, $value in $colors {
    .film-container--#{$name} {
      border-top: 6px solid $value;
    }
  }

  .FilmSubtitle {
    font: 14px/18px Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    @media (max-width: $bootstrap-sm) {
      text-align: center;
    }
  }

  .FilmTitle {
    margin-left: 0;
    @media (max-width: $bootstrap-sm) {
      text-align: center;
    }
  }

  .FilmGenres {
    margin-bottom: 10px;
    @media (max-width: $bootstrap-sm) {
      text-align: center;
    }
    @media (min-width: $bootstrap-lg) {
      margin-bottom: 100px;
    }

    span {
      color: $dark-grey;
      font: 500 16px/30px Hind;
      border-top: 1px solid $dark-grey;
    }
  }

  .FilmSynopsis {
    margin-bottom: 20px;
    font-family: Hind;
    font-weight: 500;
    @include fluid-type(16px, 21px);
    color: #141414;
  }

  .FilmSectionTitle {
    font: 24px/30px Montserrat;
    font-weight: 600;
  }
  .FilmSectionTitle.director {
    font-family: Hind;
    font-weight: 500;
  }

  .screening-img {
    max-width: 250px;
    width: 100%;
    height: auto;
  }

  .rush-note {
    color: $black;
    font: 14px/20px Hind;
    font-weight: 400;
  }

  .FilmSectionBlocks {
    display: flex;
    flex-wrap: wrap;
  }

  .FilmSectionBlock {
    padding: 20px;
    width: 50%;
  }

  .FilmSectionSubtitle {
    font: 700 16px/30px Hind;
    text-transform: uppercase;
  }

  .FilmSectionContent {
    @include fluid-type(16px, 18px);
    font-family: Hind;
    font-weight: 400;
  }

  .FilmPanelist {
    margin-bottom: 20px;
    @media (min-width: $bootstrap-md) {
      margin-bottom: 70px;
    }
    .headshot {
      width: 100%;
      height: auto;
      @media (max-width: $bootstrap-md) {
        margin-bottom: 20px;
      }
    }

    .FilmSectionTitle {
      margin-top: 0;
    }
  }
}
