.texticon {
  font: 10px/10px $hind-regular;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #333;
  color: #333;
  padding: 2px 6px 0 6px;
  margin-right: 5px;
  transition: all 0.2s ease-out;

  &.tff {
    color: #000;
    border: 1px solid #000;
  }

  &:hover {
    background: #333;
    color: #fff;
  }

  &.active {
    background: #333;
    color: #fff;
    &:hover {
      opacity: 0.5;
    }
  }
}

span.texticon:hover {
  background: #fff;
  color: #333;
}

// ICONS

.icon {
  display: inline-block;
  margin-right: 5px;
}

.icon--play--white {
  background-position: 0px -14px;
}

.socialBarIcon {
  display: inline-block;

  // margin-right: 5px;
  margin-bottom: 7px;
  vertical-align: middle;
  background: url("/images/sprite-social.svg") no-repeat;

  &.twitter {
    height: 15px;
    width: 16px;
    &.white {
      background-position: 0px -15px;
    }
  }

  &.tumblr {
    height: 15px;
    width: 9px;
    background-position: -26px 0px;
    &.white {
      background-position: -26px -15px;
    }
  }

  &.fb {
    height: 15px;
    width: 8px;
    background-position: -18px 0px;
    &.white {
      background-position: -18px -15px;
    }
  }

  &.su {
    height: 15px;
    width: 19px;
    background-position: -35px 0px;
    &.white {
      background-position: -35px -15px;
    }
  }
}

.icon--social {
  i {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.icon--lock--white {
  background-position: 0px -12px;
}

.icon--arrow {
  background: url("/images/sprite-arrows.svg") no-repeat;
  height: 17px;
  width: 8px;
  vertical-align: middle;
  margin: 0px 10px;
  background-position: -5px 0px;
}

.icon--arrow--left {
  background-position: -5px -34px;
}

.icon--arrow--down {
  width: 16px;
  height: 11px;
  background-position: 0px -22px;
}

// legacy

// Column Wrap
.cw {
  margin: 0 auto;
  // NOTE this breaks layout on smaller screens
  // Disabling this for now in order to build 2017 home page.
  // width: 1020px;
  padding: 0 20px;
  position: relative;
  box-sizing: border-box;
  zoom: 1;
  max-width: 1200px;

  @media (min-width: 568px) {
    width: auto;
    min-width: 300px;
    padding: 0;
  }

  @media (min-width: 768px) {
    max-width: 748px;
  }

  @media (min-width: 1040px) {
    max-width: 1020px;
  }
}

.mo {
  display: none;
}

@media (max-width: 568px) {
  .mo {
    display: block;
  }
}

.left {
  float: left;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.M__container {
  * {
    box-sizing: border-box;
  }
  margin: 0 auto;
  padding: 0 20px;
  max-width: $maxwidh;
  position: relative;
  font-family: "din", arial, sans-serif;

  a {
    text-decoration: none;
    color: $tribeca_color;

    &,
    &:before,
    &:after {
      transition: all 0.15s ease;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

/* ~~~~~~~~~~~~~~~~~~
/* MODULE: Ad
/* ~~~~~~~~~~~~~~~ */
.ModAd {
  margin: 30px auto 38px;
}
.MA__container {
  margin: 0 auto;
  max-width: 880px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.MA__text {
  flex: 2;
  line-height: 1.5;
}
.MA__img-wrap {
  order: 1;
  margin-left: 20px;
  flex: 1;
  align-self: flex-start;
  img {
    width: 100%;
  }
}

/* ~~~~~~~~~~~~~~~~~~
/* MODULE: image text
/* ~~~~~~~~~~~~~~~ */
.ModImageText-alt,
.ModImageText {
  margin-bottom: 20px;
  line-height: 1.6;
  display: flex;
  margin: 30px auto;
  @include max-w($tablet) {
    display: block;
  }
}
.MIT__img-wrap {
  // or do even odd..
  // .ModImageText:nth-child(even) & {
  .ModImageText-alt & {
    order: 1;
  }
  display: inline-block;
  flex: 1;
  img {
    width: 100%;
    display: block;
    padding: 0 20px 0 0;
    // or do even odd..
    // .ModImageText:nth-child(even) & {
    .ModImageText-alt & {
      padding: 0 0 0 20px;
    }
    @include max-w($tablet) {
      // or do even odd..
      // .ModImageText:nth-child(even) & {
      .ModImageText-alt &,
      & {
        padding: 0;
      }
    }
  }
}
.MIT__text {
  flex: 1;
}
.MIT__text-inner {
  padding: 28px;
}
.MIT__header {
  margin-bottom: 21px;
}
.MIT__title {
  font-size: 22px;
  display: inline-block;
  color: #000;
}
a.MIT__title {
  @extend .MIT__title;
  @include cf();
  &:hover {
    text-decoration: underline;
  }
}
.MIT__meta {
  color: $tribeca_color;
  font-size: 14px;
}

a.MIT__more,
.MIT__more {
  margin-top: 30px;
  display: inline-block;
  color: #000;
  font-weight: bold;
  text-decoration: underline;
  @include cf();
  &:hover {
    text-decoration: none;
  }
}

/* ~~~~~~~~~~~~~~~~~~
/* MODULE: IMAGE TEXT BOX.
/* ~~~~~~~~~~~~~~~ */

.ModImageTextBox {
  margin: 20px -20px;
  display: flex;
  @include max-w($tablet) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.MITB__inner {
  padding: 20px;
  @include max-w($tablet) {
    padding: 20px 0;
  }
}
.MITB__item {
  flex: 1;
  text-align: center;
}
.MITB__img-wrap {
  display: block;
  img {
    width: 100%;
    display: block;
  }
}
.MITB__text {
  padding: 15px;
}
.MITB__meta {
  text-transform: uppercase;
  color: #aaaaaa;
  font-size: 15px;
  margin-bottom: 9px;
}
.MITB__meta-item {
  white-space: nowrap;
}
.MITB__meta-item-colored {
  @extend .MITB__meta-item;
  color: $tribeca_color;
  font-weight: bold;
}
.MITB__meta-split {
  padding: 0 4px;
}
.MITB__title {
  display: block;
  color: #000;
  font-size: 24px;
  line-height: 1.3;
  .MITB-4up & {
    font-size: 17px;
  }
  @include max-w($tablet) {
    font-size: 20px;
  }
}

a.MITB__title {
  @extend .MITB__title;
  &:hover {
    text-decoration: underline;
  }
}

/* ~~~~~~~~~~~~~~~~~~
/* MODULE: Image Synopsis
/* ~~~~~~~~~~~~~~~ */
.ModImgSynopsis {
  margin: 0 -20px;
  display: flex;
  @include max-w($tablet) {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
.MIS__item {
  flex: 1;
  // margin-bottom: 20px;
}
.MIS__inner {
  padding: 20px;
  @include max-w($tablet) {
    padding-right: 0;
    padding-left: 0;
  }
}
.MIS__img-wrap {
  margin-bottom: 20px;
  display: block;
  img {
    display: block;
    width: 100%;
  }
}
.MIS__text {
  max-width: 560px;
}
.MIS__header {
  margin-bottom: 16px;
}
.MIS__title {
  line-height: 1.4;
  font-size: 22px;
  display: inline-block;
  color: #000;
}
a.MIS__title {
  @extend .MIS__title;
  @include cf();
  &:hover {
    text-decoration: underline;
  }
}
.MIS__meta {
  font-size: 14px;
}
.MIS__content {
  line-height: 1.6;
}
a.MIS__more {
  @extend a.MIT__more;
}

/* ~~~~~~~~~~~~~~~~~~
/* MODULE: Image Overlays
/* ~~~~~~~~~~~~~~~ */

.ModImgOverlays {
  @extend .ModImageTextBox;
  flex-wrap: wrap;
}
a.MIO__item,
.MIO__item {
  display: inline-block;
  flex: 1;
  color: #fff;
  min-width: 50%;
}

.MIO__inner {
  display: block;
  @extend .MITB__inner;
  @include max-w($tablet) {
    padding-top: 0;
  }
}
.MIO__inner_inner {
  display: block;
  background-color: #222;
  position: relative;
  overflow: hidden;
}
.MIO__img {
  width: 100%;
  display: block;
  a & {
    transition: opacity 0.3s ease;
  }
  a:hover & {
    opacity: 0.8;
  }
}
.MIO__text {
  &,
  * {
    display: block;
  }
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  line-height: 1;
}
.MIO__title {
  max-width: 375px;
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 300;
  @include max-w($handheld) {
    font-size: 30px;
  }
}
.MIO__meta {
  font-size: 18px;
  @include max-w($handheld) {
    font-size: 17px;
  }
}

/* ~~~~~~~~~~~~~~~~~~
/* MODULE: Full Screen Header
/* ~~~~~~~~~~~~~~~ */

.ModFullScreenHeader {
  // note: MUST set background-image in style element.
  position: relative;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include noselect;
}
.MFSH__container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  max-width: 700px;
  padding: 0 20px;
  text-align: center;
}
.MFSH__logo {
  position: relative;
  display: block;
  width: 100%;
}
.MFSH__textBlock {
  display: block;
  font: 18px/27px $dinstack;
  max-width: 650px;
  margin: 60px auto;
  text-align: left;
  color: #fff;
}
.MFSH__c2a {
  text-align: center;
  text-decoration: none;
  font: 20px/1 $dinstack;
  margin: 30px 0 0;
  display: inline-block;
  background: $tff_color;
  color: #fff;
  padding: 18px 30px 14px;
  letter-spacing: 2px;
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.9;
  }
}
.MFSH__carrot {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);

  .svgArrow {
    fill: none;
    stroke: $tff_color;
    stroke-width: 3.5;
    stroke-linejoin: round;
    stroke-linecap: round;
    margin-top: 20px;
  }
}
