.bg-red {
  background: red;
}
.border-red {
  border: thin solid red;
}

.bg-yellow {
  background: yellow;
}
.border-yellow {
  border: thin solid yellow;
}
.bg-green {
  background: green;
}

.border-green {
  border: thin solid green;
}

.dev-ad {
  text-align: center;
  padding: 40px;
  margin: 0 auto;
  border: 1px solid grey;
}
