// colors
$ruby: #d1004c;
$sienna: #b55420;
$indigo: #5f009e;
$blue: #0a37ba;
$jungle-green: #006f4e;
$black: #000;
$grey: #d8d8d8;
$white: #fff;
$blue-grey: #344154;
$light-grey: #f7f9fb;
$dark-grey: #242626;
$grey: #7e7e7e;
$gold: #d48f27;
$pale-grey: #f7f9fb;
$charcoal: rgba(36, 38, 38, 0.85);
$brownish-orange: #d48f27;
$brown-grey: #979797;

// colors used to generate links, butons and borders for various types of films
$colors: (
  blue: $blue,
  brownish-orange: $brownish-orange,
  jungle-green: $jungle-green,
  indigo: $indigo,
  ruby: $ruby,
  sienna: $sienna
);

// bootstrap breakpoints
$bootstrap-xs: 320px;
$bootstrap-sm: 480px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

$sm: 568px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// fonts
@font-face {
  font-family: "Montserrat-regular";
  src: url("/fonts/montserrat/Montserrat-Regular.otf");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("/fonts/montserrat/Montserrat-Bold.otf");
}

@font-face {
  font-family: "Montserrat-semibold";
  src: url("/fonts/montserrat/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: "hind-regular";
  src: url("https://fonts.googleapis.com/css2?family=Hind:wght@400&display=swap");
}

@font-face {
  font-family: "hind-semibold";
  src: url("/fonts/hind/hind-semibold.otf");
}

@font-face {
  font-family: "hind-medium";
  src: url("/fonts/hind/hind-medium.otf");
}

@font-face {
  font-family: "hind-bold";
  src: url("/fonts/hind/hind-bold.otf");
}

$montserrat-regular: 400 Montserrat;
$montserrat-semibold: 600 Montserrat;
$montserrat-bold: 700 Montserrat;
$hind-regular: 400 Hind;
$hind-medium: 500 Hind;
$hind-semibold: 600 Hind;
$hind-bold: 700 Hind;

@mixin hoverFade($opacity, $time) {
  // @include single-transition(opacity, $time, ease-out);
  transition: opacity $time ease-out;
  &:hover {
    // @include opacity($opacity);
    opacity: $opacity;
  }
}

// TYPOGRAPHY
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-font-size, $max-font-size) {
  $min-vw: 320px;
  $max-vw: 1200px;
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin fluid-height($min-font-size, $max-font-size) {
  $min-vw: 320px;
  $max-vw: 1200px;
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      height: $min-font-size;
      @media screen and (min-width: $min-vw) {
        height: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        height: $max-font-size;
      }
    }
  }
}

// legacy Variables!

// NOTE: Dimensional variables account for padding in .cw

$desktop: 1040px;
$tablet: 660px;
$handheld: 499px;
$maxwidh: 1400px;

// bootstrap breaks
$bs_sm: 768px;
$bs_md: 992px;
$bs_lg: 1200px;

// navbar height;
$navBarHeight: 64px;

$base-duration: 150ms;
$base-timing: ease;

// COLORS

// NOTE golden color that we remove because of AT&T
// $tff_color: #fcaf17;
// $catFest: #fcaf17;

$tff_color: #000;
$catFest: #000;

$tribeca_color: #e50a0a;
$tf_color: #009ad1;
$fof_color: #49b986;
$toff_color: #953e8a;
$mfc_color: #e75925;
$inno_color: #00d3a6;
$admin_color: #666;

$catPopular: #e50a0a;
$catNewsTrends: #2b59bb;
$catCreators: #fbae1c;
$catFoF: #74c83c;
$catMusic: #2cafb9;
$catTech: #1db0f8;
$catArtsCulture: #9c35c7;
$catSocialGood: #fe6e1a;
$catDigitalStudios: #ea27ab;
$catTF: #008fd0;
$catCallSheet: #e50a0a;
$hein: #008742;

$catNews: #e50a0a;
$catCulture: #e50a0a;
$catNyc: #e50a0a;
$catFilm: #e50a0a;

$iwRed: #ff7574;
$iwBlue: #3c7dff;
$iwYellow: #ccea40;
$iwGreen: #00d3a6;

$tff_fade_color: #ffebc5;

$tribeca_colorAlpha: rgba(32, 0, 11, 0.5);
$tff_colorAlpha: rgba(41, 1, 36, 0.75);
$tf_colorAlpha: rgba(0, 39, 54, 0.75);
$fof_colorAlpha: rgba(73, 185, 134, 0.5);

$generalTextColor: #454848;
$generalBorderColor: rgba(49, 52, 54, 0.25);

$darkTextColor: #181418;
$orange: #fd6410;
// $blue: #2ae8ff;
