


// colors
$ruby: #d1004c;
$sienna: #b55420;
$indigo: #5f009e;
$jungle-green: #006f4e;
$black: #000;
$grey: #d8d8d8;
$white: #fff;
$blue-grey: #344154;
$light-grey: #f7f9fb;
$dark-grey: #242626;
$grey: #7e7e7e;
$pale-grey: #f7f9fb;
$charcoal: rgba(36, 38, 38, 0.85);
$brownish-orange: #d48f27;
$brown-grey: #979797;

// we are one
$red: #fc4949;
$green: #53e578;
$blue: #06BDEF;
$gold: #EBB010;

// colors used to generate links, butons and borders for various types of films
$colors: (
  blue: $blue,
  brownish-orange: $brownish-orange,
  jungle-green: $jungle-green,
  indigo: $indigo,
  ruby: $ruby,
  sienna: $sienna,
  red: $red,
  green : $green,
  gold: $gold
);

// bootstrap breakpoints
$bootstrap-xs: 320px;
$bootstrap-sm: 480px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

$sm: 568px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// TYPOGRAPHY
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-font-size, $max-font-size) {
  $min-vw: 320px;
  $max-vw: 1200px;
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin fluid-height($min-font-size, $max-font-size) {
  $min-vw: 320px;
  $max-vw: 1200px;
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      height: $min-font-size;
      @media screen and (min-width: $min-vw) {
        height: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        height: $max-font-size;
      }
    }
  }
}

// legacy Variables!

// NOTE: Dimensional variables account for padding in .cw

$desktop: 1040px;
$tablet: 660px;
$handheld: 499px;
$maxwidh: 1400px;

// bootstrap breaks
$bs_sm: 768px;
$bs_md: 992px;
$bs_lg: 1200px;

// navbar height;
$navBarHeight: 64px;

$base-duration: 150ms;
$base-timing: ease;
