/* Brightcove Sizing */

.BCLvideoWrapper {
  position: relative;
  padding-top: 1px;
  padding-bottom: 56.25%;
  height: 0;
  background-color: #000;
  margin-bottom: 20px;
}

* html .BCLvideoWrapper {
  margin-bottom: 45px;
  margin-top: 0;
  width: 100%;
  height: 100%;
}
.BCLvideoWrapper div,
.BCLvideoWrapper embed,
.BCLvideoWrapper object,
.BCLvideoWrapper iframe,
.BrightcoveExperience {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#embeddedVideoStats {
  display: none;
}
